.container{
    display: flex;
    flex-flow: column;
    width: 40vw;
    margin: auto;
}
.centerImage{
    display: flex;
    justify-content: center;
    margin: 5vh 0 5vh 0;
}
.tagLine{
    color: #616060;
    font-family: "Barlow", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: large;
    text-align: center;
}

.details{
    display: flex;
    justify-content: space-between;
    margin: 4vh 2vw 2vh 2vw;
}
.message{
    margin: 2vh 2vw 4vh 2vw;
}
.errorMessage{
    color: red;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: small;
}
.detailsField{
    background-color: #ECECEC;
    height: 7vh;
    border-radius: 10px;
    padding-left: 12px;
    border: none;
    
}
.messageField{
    background-color: #ECECEC;
    height: 10vh;
    border-radius: 10px;
    padding: 5px;
    width: 98%;
    padding-left: 12px;
    border: none;
}
.labelField{
    color: #616060;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
    text-align: center;
}
.buttonWrapper{
    width: 10vw;
    margin: auto;
}
@media screen and (max-width: 710px) {
    .container{
        width: 80%;
    }
    .details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }
    .form{
        margin-top: 8%;
        align-items: center;
    }
    .message{
        margin: 0;
    }
    .buttonWrapper{
        width: 20vw;
        margin: 4% auto;
    }
}