.gallery {
    --s: 15%; /* control the size */
    --g: 1.5rem;  /* control the gap */
    --f: 1.5;   /* control the scale factor */
    
    display: grid;
    gap: var(--g);
    width: calc(3*var(--s) + 2*var(--g));
    aspect-ratio: 1;
    grid-template-columns: repeat(3,auto);

    img {
        width: 0;
        height: 0;
        min-height: 100%;
        min-width: 100%;
        object-fit:contain;
        cursor: pointer;
        transition: .3s linear;

        &:hover{
            width:  calc(var(--s)*var(--f));
            height: calc(var(--s)*var(--f));
        }
          
    }
  }